li>a {
	text-decoration: none;
}
.container-fluid img{
	height: 20px;
	margin-left: 10px;
}
.navbar-brand img{
	height: 70px;
	margin-left: 40px;
}
div>a{
	text-decoration: none;
    font-family: 'lato';
    font-size: 20px;
    color: white;
}
.footer{
	margin: auto;
}
.footer>p{
	color: #9b9393;
}
.rank{
	width: 128px !important; 
	height: 75px !important; 
	margin-left: 40px !important;
}
.button-color{
	color: white;
    border-color: white;
}
.vacants>div{
	padding-bottom: 20px !important;
	background-color: whitesmoke;
}
.footer>div>a{
	font-size: 15px;
}
.requiere{
	color: red;
}